.investment {
	&__img {
		width: 100%;
		height: 600px;
		opacity: 0.8;
	}
	&__header {
		text-align: center;
		color: white;
		margin: 30px;
	}
	&__description {
		text-align: center;
		color: white;
		margin: 30px;
		padding: 20px;
	}
	&__button {
		text-align: center;
		color: white;
		padding: 30px;
	}
}
