.contact {
	background-color: white;
	border: solid 1px white;
	&__header {
		position: absolute;
		font-size: 20px;
		display: flex;
		justify-content: center;
		width: 50%;
		position: absolute;
		z-index: 2;
		margin: 0 auto;
		left: 0;
		right: 0;
	}
	&__container {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 40px;
		padding: 20px;
	}
	&__img {
		width: 100%;
		height: 700px;
	}
	&__leftside ul li {
		padding: 3px;
		list-style: none;
		cursor: pointer;
	}
	&__leftside ul li a {
		color: inherit;
		text-decoration: none;
		&:hover {
			opacity: 0.8;
			color: blue;
		}
	}
	&__leftside {
		padding: 20px;
	}
	&__rightside form {
		display: flex;
		flex-direction: column;
	}
	&__smallHeader {
		margin: 10px;
		text-align: center;
	}
	&__description {
		width: 400px;
	}
	&__button {
		margin: 20px;
	}
	&__field {
		margin: 10px;
		padding: 10px;
	}
}

@media screen and (max-width: 880px) {
	.contact {
		&__container {
			flex-direction: column;
		}
		&__description {
			font-size: 10px;
			text-align: center;
			line-height: 2em;
			width: 300px;
		}
		&__header {
			font-size: 10px;
		}
	}
}
