.navbar {
	background-color: #9b3939;
	display: flex;
	justify-content: space-between;
	height: 8em;
	margin: 0;
	&__logo img {
		cursor: pointer;
		height: 8em;
	}
	&__rightItems {
		background-color: #9b3939;
	}
	&__rightItemsList {
		display: flex;
		justify-content: space-evenly;
		padding: 20px;
	}
	&__rightItemsList a li {
		font-size: 16px;
		font-weight: 500;
		margin: 20px;
		list-style: none;
		color: white;
		cursor: pointer;
		transition: 0.3s ease-in;
		&:hover {
			opacity: 0.6;
			border-bottom: 1px solid black;
		}
	}
	&__rightItemsList a {
		text-decoration: none;
	}
}
