.navbar {
	background-color: #9b3939;
	display: flex;
	justify-content: space-between;
	margin: 0;
	width: 100%;
	&__logo img {
		cursor: pointer;
		height: 8em;
	}
	&__rightItems {
		background-color: #9b3939;
	}
	&__rightItemsList {
		display: flex;
		justify-content: space-evenly;
		padding: 20px;
	}
	&__rightItemsList a li {
		font-size: 16px;
		font-weight: 500;
		margin: 20px;
		list-style: none;
		color: white;
		cursor: pointer;
		transition: 0.3s ease-in;
		&:hover {
			opacity: 0.6;
			border-bottom: 1px solid black;
		}
	}
	&__rightItemsList a {
		text-decoration: none;
	}

	// mobile stuff
	&__hamburger,
	&__mobileMenu {
		display: none;
	}
}

@media screen and (max-width: 880px) {
	.navbar {
		justify-content: flex-start;
		&__rightItemsList a {
			text-decoration: none;
			display: none;
		}
		&__hamburger {
			display: block;
			position: absolute;
			padding: 28.5px 5px;
			right: 0;
		}

		&__mobileMenu {
			display: block;
			padding: 10px 15px;
			width: 140px;
			top: 70px;
			transition: 0.65s ease;
			background-color: #9b3939;
			z-index: 2;
			border-bottom-left-radius: 10px;
			> * {
				display: block;
				padding-bottom: 8px;
				font-weight: 600;
			}
			position: absolute;
		}
		&__mobileMenu ul a {
			text-decoration: none;
		}
		&__mobileMenu ul a li {
			font-size: 16px;
			color: black;
			padding-bottom: 15px;
			list-style: none;
			text-decoration: none;
			font-weight: 600;
			margin: 5px;
		}
	}
}
