.footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 6px;
	background-color: rgb(70, 70, 70);
	margin-top: auto;
	margin-bottom: auto;
	color: white;

	&__left ul li {
		padding: 3px;
		list-style: none;
		cursor: pointer;
	}
	&__left ul li a {
		color: inherit;
		text-decoration: none;
		&:hover {
			opacity: 0.8;
			color: blue;
		}
	}

	&__middle ul li {
		padding: 3px;
		list-style: none;
		cursor: pointer;
	}
	&__middle ul li a {
		text-decoration: none;
		color: inherit;
	}
	&__right ul li {
		padding: 3px;
		list-style: none;
		cursor: pointer;
	}
	&__right ul li a {
		color: inherit;
		text-decoration: none;
		font-size: 10px;
	}
}

@media screen and (max-width: 440px) {
	.footer {
		grid-template-columns: 1fr 1fr;
		&__right ul li a {
			font-size: 2px;
		}
	}
}
