.events {
	&__header {
		text-align: center;
		color: white;
		text-decoration: underline;
	}
	&__description {
		display: flex;
		justify-self: center;
		color: white;
		background-color: white;
		color: black;
		// height: 60px;
		width: 70%;
		padding: 20px;
		margin: auto;
		margin-top: 40px;
		margin-bottom: 40px;
		border-radius: 5px;
		font-weight: 400;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}
	&__img {
		text-align: center;
	}
	&__img img {
		height: 500px;
	}
	&__button {
		text-align: center;
		margin: 30px;
	}
}
