.pastEvents {
	&__header {
		text-align: center;
		color: white;
		font-size: 40px;
		font-weight: 200;
	}
	&__secondheader {
		text-align: center;
		color: white;
		font-size: 20px;
		font-weight: 200;
		margin: 20px;
		padding: 20px;
	}
	&__video {
		text-align: center;
	}
	&__imgList {
		display: flex;
		flex-wrap: wrap;
		padding: 0 4px;
	}
	&__column {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-bottom: 60px;
	}
	&__imgItem {
		margin: auto;
		height: 400px;
		width: 500px;
		padding: 10px;
	}
}

@media screen and (max-width: 880px) {
	.pastEvents {
		&__ytvideo {
			width: 340px;
		}
		&__column {
			grid-template-columns: 1fr;
		}
		&__imgItem {
			height: 330px;
			width: 330px;
		}
	}
}
